
.main{
  width : 550px;
  height: 91px;
  display : flex;
  margin: auto;
  flex-direction: column;
}

.nav {
   padding: 20px 20px 20px 20px;
   color: rgb(139, 242, 246);
   background-color: black;
}

.nav > div >  h2 {
  /* margin-top: 30px; */
  font-size: 22.25px;
  font-weight: 700px;
  border : 1px solid white;
  padding: 0;
  /* text-align: center; */
}

.nav > h3 {
  font-size: 16px;
  font-weight: 600px;
  /* padding: 35px 0px 0px  30px; */
  border : 1px solid white;
  /* text-align: center; */
  padding: 0;

}

.nav-p-title{
  margin-right: 10%;
  padding: 0;

}

.nav-logo {
  /* margin-top: 20px; */
  width: 50px;
  height: 50px;
  border : 1px solid white;
  /* text-align: center; */
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items > li {
   padding: 10px;
}

.content {
   padding: 25px;
   padding-right: 20px;
   background-color: #282D35;
   height: 467px;
}
.content > h1 {
   font-size: 39.06px;
   font-weight: 700px;
}

.content > ul > li > h3 {
    font-size: 16px;
    font-weight: 400px;
}

.mainContent{
  /* background: url('./logo.svg') no-repeat center center/cover; */
  width: 264.16px;
  height: 267.58px;
  /* background-position-x: right; */
  position: absolute;
  top: 92px;
  /* left: 1350px; */
  z-index: 20;
  overflow-x: hidden;
}